<!DOCTYPE html>
<html>

<head>
    <title>File Transfer</title>
    <link rel="icon" href="static/logo.svg">

    <link rel="stylesheet" href="../static/download.css">
    <link rel="stylesheet" href="static/download.css">

    <link rel="stylesheet" media="screen and (max-width: 1080x)" href="../static/mobile.css">
    <link rel="stylesheet" media="screen and (max-width: 1080px)" href="static/mobile.css">

    <script src="../static/main.js"></script>
    <script src="static/main.js"></script>
</head>

<body>
    <div class="container"></div>
    <div id="toast-container"></div>


    <div class="card" id="card">
        <button class="dismiss" type="button" onclick="window.location.href = '/'">×</button>
        <div class="header">
            <div class="image">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g>
                </svg>
            </div>
            <div class="content">
                <span class="title">{{ title }}</span>
                <p class="message">The transfer is ready, copy the link below and share it with everybody to let them
                    download the files.</p>
            </div>
            <div class="actions">
                <button class="download" type="button" onclick="copytext('{{ url }}')">Copy link</button>
            </div>
        </div>
    </div>
</body>

</html>
